<!DOCTYPE html>
 {% load static  %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Everest momo | Contact Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/debda440fa.js" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Allura&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nova+Square&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Chela+One&family=Open+Sans:wght@500&display=swap" rel="stylesheet">
</head>

{% if message %}
<script>
  alert('{{message}}')
</script>
{% endif %}
<body style="font-family: 'Open Sans', sans-serif;">

    <!-- navbar sectioin -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary z-1">
        <div class="container">
            <a class="navbar-brand" href=" {% url 'homepage' %}">
                <img src="/static/Images/home/Logo.png" alt="Logo" width="200" height="60" class="d-inline-block align-text-top">
              </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav justify-content-center me-auto mb-2 mb-lg-0">
              
              <li class="nav-item">
                <a class="nav-link mx-2" href=" {% url 'aboutpage' %} ">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link mx-2" href="{% url 'menupage' %}">Our Menus</a>
              </li>
              <li class="nav-item">
                <a class="nav-link mx-2" href="{% url 'servicepage' %}">Our Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link mx-2" href="{% url 'advicepage' %}">Allergy Advice</a>
              </li>
            </ul>
            <a href="" class="m-2"><i class="fa-brands fa-facebook fa-2xl" style="color: #888888;"></i></a>
            <a href="" class="m-2"><i class="fa-brands fa-tiktok fa-2xl" style="color: #888888;"></i></a>
            <a href="" class="m-2"><i class="fa-brands fa-instagram fa-2xl" style="color: #888888;"></i></a>
            <form class="flex" action="{% url 'contactpage' %}">
              <button style="background-color: #D95103; color: white; border-radius: 30px; margin-left: 50px;" class="btn px-4 py-2" type="submit">Contact Us</button>
            </form>
          </div>
        </div>
    </nav>
    <hr class="m-0">

    <!-- contact section -->
    <div class="container">
        <div class="row  py-5">
            <div class="text-center" >
                <h1 style="font-family: 'Allura', cursive; color: #0C6967; font-size: 70px;">Contact Us</h1>
                <p class="py-3 ls" style="font-family: 'Nova Square', cursive;">G E T &#8287; I N &#8287; T O U C H</p>
                <h2 class="fw-bold"><span style="color: #D95103;">Our Friendly Team </span>would love to hear from you</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 ">
                <div class="m-2 bg-light rounded-3 p-5 shadow  bg-body-tertiary">
                    <h6 class="pb-3 fw-bold"><i class="fa-sharp fa-solid fa-location-dot fa-lg" style="color: #d95103;"></i> LOCATION </h6>
                    <p><i>New Baneswor - 41201, Kathmandu, Bagmati, Nepal </i></p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="m-2 bg-light rounded-3 p-5 shadow  bg-body-tertiary">
                    <h6 class="pb-3 fw-bold"><i class="fa-solid fa-phone fa-lg" style="color: #d95103;"></i> PHONE </h6>
                    <table width="100%">
                        <tr>
                            <th style="color: #0C6967;">Mobile:</th>
                            <th style="color: #0C6967;">Telephone:</th>
                        </tr>
                        <tr>
                            <td><i>(+977) 9805689789 <br>(+977) 9841275897</i></td>
                            <td><i>01-4783971</i></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-sm-4 ">
                <div class="m-2 bg-light rounded-3 p-5 shadow  bg-body-tertiary">
                    <h6 class="pb-3 fw-bold"><i class="fa-sharp fa-solid fa-bell-concierge fa-lg" style="color: #d95103;"></i> SERVICE TIME </h6>
                    <table width="100%">
                        <tr>
                            <th style="color: #0C6967;">Mon-Fri:</th>
                            <th style="color: #0C6967;">Sat-Sun:</th>
                        </tr>
                        <tr>
                            <td><i>8 am - 8 pm</i></td>
                            <td><i>Closed</i></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- map and form sections -->
    <div class="container-fluid my-5">
        <div class="row text-center rounded-4">
            <!-- location info -->
            <div class="col-sm-6 my-4">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14130.92459112809!2d85.32951860130738!3d27.694703218563447!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb199a06c2eaf9%3A0xc5670a9173e161de!2sNew%20Baneshwor%2C%20Kathmandu%2044600!5e0!3m2!1sen!2snp!4v1689046896262!5m2!1sen!2snp" style="border:0;" height="800px" width="800px" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>
            
            <!-- contact form-->
            <div class="col-sm-6 bg-body-tertiary rounded-3">
                <form class="text-start p-5" method="post">
                  {% csrf_token %}
                    <h3 class="fw-bold">Contact <span style="color: #D95103;"> Us</span></h3>
                    <p class="text-body-tertiary">If you have any queries, send us a message. Our Friendly team would love to hear from you.</p><br>
                    <div class="row my-3">
                        <div class="col">
                        <label for="fname">First Name</label>
                        <input type="text" id="fname" class="form-control form-control-lg" name="fname" required>
                    </div>
                    <div class="col">
                        <label for="lname">Last Name</label>
                        <input type="text" id="lname" class="form-control form-control-lg" name="lname" required>
                    </div>
                
    
                    <div class="form-row my-2">
                        <label for="mail">Email</label>
                        <input type="email" class="form-control form-control-lg" id="mail" name="email" required>
                    </div>
        
                    <div class="form-row my-2">
                        <label for="phone">Phone</label>
                        <input type="phone" class="form-control form-control-lg" id="phone" maxlength="10" name="phone">
                    </div>

                    <div class="form-row my-2">
                      <label for="subject">Subject</label>
                      <input type="text" class="form-control form-control-lg" id="subject" name="subject" required>
                    </div>
        
                    <div class="form-row">
                        <label for="message">Message</label>
                        <textarea class="form-control" id="message" rows="7" name="message" required></textarea>
                    </div>
        
                    <div class="form-row">
                      <button style="background-color: #0C6967; color: white; border-radius: 35px;" class="btn px-4 py-3 my-3" type="submit">Send Message</button>
                    </div>
                </form>
            </div>

          </div>
    </div>

    <!-- footer section -->
    <footer class="text-center text-lg-start bg-light text-muted">
  
        <section>
          <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
              
              <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <a href="{% url 'homepage' %}">
                  <img src="/static/Images/home/Logo.png" class="my-4">
                </a>
                <p class="text-body-tertiary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed rem ab repellendus quidem? Cupiditate sequi, quibusdam in voluptate rerum tenetur veniam aliquam</p>
              </div>
              
              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase fw-bold my-4" style="color: #0C6967;">Everest Momo</h6>
                <p><a href="{% url 'aboutpage' %}" class="text-reset">About Us</a></p>
                <p><a href="{% url 'menupage' %}" class="text-reset">Our Menu</a></p>
                <p><a href="{% url 'servicepage' %}" class="text-reset">Our Services</a></p>
                <p><a href="{% url 'contactpage' %}" class="text-reset">Contact Us</a></p>
              </div>
      
              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase fw-bold my-4" style="color: #0C6967;">Legals</h6>
                <p><a href="#!" class="text-reset">Terms & Conditions</a></p>
                <p><a href="#!" class="text-reset">Privacy Policy</a></p>
                <p><a href="#!" class="text-reset">Support</a></p>
              </div>
      
              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase fw-bold my-4" style="color: #0C6967;">Follow Us</h6>
                <a href="" class="btn btn-outline-secondary rounded-5 m-2 text-reset"><i class="fab fa-facebook-f"></i></a>
                <a href="" class="btn btn-outline-secondary rounded-5 m-2 text-reset"><i class="fab fa-tiktok"></i></a>
                <a href="" class="btn btn-outline-secondary rounded-5 m-2 text-reset"><i class="fab fa-instagram"></i></a>
                <a href="" class="btn btn-outline-secondary rounded-5 m-2 text-reset"><i class="fab fa-linkedin"></i></a>
                <a href="" class="btn btn-outline-secondary rounded-5 m-2 text-reset"><i class="fab fa-twitter"></i></a>
                <a href="" class="btn btn-outline-secondary rounded-5 m-2 text-reset"><i class="fab fa-youtube"></i></a>
              </div>
            </div>
          </div>
        </section>
        <hr>
        <div class="text-center p-4">
          <h6>Copyright ©️ 2023 Everest Momo Pvt Ltd. All Rights Reserved</h6>
        </div>
        
    </footer>

</body>
</html>