<!DOCTYPE html>
 {% load static  %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Everest momo | Homepage</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/debda440fa.js" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Chela+One&family=Open+Sans:wght@500&display=swap" rel="stylesheet">

</head>
<body style="font-family: 'Open Sans', sans-serif;">

    <!-- navbar sectioin -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary z-1">
        <div class="container">
            <a class="navbar-brand" href=" {% url 'homepage' %}">
                <img src="/static/Images/home/Logo.png" alt="Logo" width="200" height="60" class="d-inline-block align-text-top">
              </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav justify-content-center me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link mx-2" href=" {% url 'aboutpage' %} ">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link mx-2" href=" {% url 'menupage' %}">Our Menus</a>
              </li>
              <li class="nav-item">
                <a class="nav-link mx-2" href="{% url 'servicepage' %}">Our Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link mx-2" href="{% url 'advicepage' %}">Allergy Advice</a>
              </li>
            </ul>
            <a href="" class="m-2"><i class="fa-brands fa-facebook fa-2xl" style="color: #888888;"></i></a>
            <a href="" class="m-2"><i class="fa-brands fa-tiktok fa-2xl" style="color: #888888;"></i></a>
            <a href="" class="m-2"><i class="fa-brands fa-instagram fa-2xl" style="color: #888888;"></i></a>
            <form class="flex" action="{% url 'contactpage' %}">
              <button style="background-color: #D95103; color: white; border-radius: 30px; margin-left: 50px;" class="btn px-4 py-2" type="submit">Contact Us</button>
            </form>
          </div>
        </div>
    </nav>
    <hr class="m-0">

    <!-- main section -->
    <div class="container-fluid text-center border-bottom-1">
      <div class="row">
        <div class="col position-relative">
          <div class="position-absolute text-start" style="margin: 200px; width: 100%;">
            <p class="fs-4 text-body-tertiary">R E S T A U R A N T</p>
            <p class="fs-1 fw-bolder">The #ONE</p>
            <p class="fs-1 fw-bolder">Momo <span style="color: #D95103;">Restaurant</span> </p>
            <p class="fs-4">More than <span style="color: #D95103;">20+ varieties</span> of momo available for you</p>
            <form class="flex" action="{% url 'menupage' %}">
              <button style="background-color: #0C6967; color: white; border-radius: 35px;" class="btn px-4 py-3" type="submit">Explore Food Menu </button>
            </form>
          </div>
        </div>
          
        <div class="col position-relative" style="margin: 150px;">
          <img src="/static/Images/home/dotted_momo.png" width="550px" height="400px" class="z-1 mt-5" >
        </div>
        
      </div>
    </div>
    

    <!-- about us section -->
    <div class="container bg-body-tertiary shadow p-3 mb-5 bg-white rounded my-5">
      <div class="row">
        <div class="col m-5">
          <img src="/static/Images/home/thumbs_up_man.png" alt="">
        </div>

        <div class="col">
          <div class="text-center" style="margin-top: 200px; margin-right: 50px">
            <h1 class="text-start fw-bold">Why Customer <span style="color: #D95103;">Love Us</span></h1>
            <p class="text-start py-3 mr-4 text-body-tertiary">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam deserunt obcaecati quisquam ullam nulla quibusdam consequatur reprehenderit atque placeat fuga odit voluptatem nostrum eos repudiandae, pariatur dicta minus similique dolores accusantium sint alias sed at! Possimus labore dolorum cum dolore, sunt velit minus, culpa ab iusto quod enim vel amet.</p>
            <form class="flex text-start" action="{% url 'aboutpage' %}">
              <button style="background-color: #0C6967; color: white; border-radius: 35px;" class="btn px-4 py-3" type="submit">Explore Our Story </button>
            </form>
          </div>
          
        </div>
      </div>
    </div>
    

    <!-- receipe section -->
    <div class="container" style="margin: 100px auto;">
      <div class="row text-center">
        <h1 class="fw-bold">Our <span style="color: #D95103;">Most Popular </span>Recipes</h1>
        <p class="text-body-tertiary">Browse through a varieties of recipes with fresh ingredients selected only from the best places.</p>
      </div>

      <div class="row text-center m-5">
        <div class="col text-end">
          <button class="btn btn-outline-secondary" type="button">Chicken</button>
        </div>
        <div class="col">
          <button class="btn btn-outline-secondary active" type="button">Buff</button>
        </div>
        <div class="col text-start">
          <button class="btn btn-outline-secondary" type="button">Veg</button>
        </div>
      </div>

      <div class="row">
        <div class="col text-center">
          <img src="/static/Images/home/buff_steam.png" alt="">
          <h4 class="fw-bold fs-3">Buff Steam Momo</h4>
          <h4>Rs. <span style="color: #D95103;">150</span></h4>
        </div>
        <div class="col text-center">
          <img src="/static/Images/home/buff_fry.png" alt="">
          <h4 class="fw-bold fs-3">Buff Fry Momo</h4>
          <h4>Rs. <span style="color: #D95103;">180</span></h4>
        </div>
        <div class="col text-center">
          <img src="/static/Images/home/buff_c.png" alt="">
          <h4 class="fw-bold fs-3">Buff C Momo</h4>
          <h4>Rs. <span style="color: #D95103;">200</span></h4>
        </div>
      </div>

      <div class="row">
        <form class="flex text-center mt-3" action="{% url 'menupage' %}">
          <button style="background-color: #0C6967; color: white; border-radius: 35px;" class="btn px-4 py-3" type="submit">Explore Our Menu </button>
        </form>
      </div>
    </div>
    
    <!-- services section  -->
    <div class="container-fluid bg-body-tertiary">
      <div class="row text-center p-5">
        <h1 class="fw-bold"><span style="color: #D95103;">We Offer People </span>The Service They Want</h1>
      </div>

      <div class="row text-center p-5" style="background-image: url(/static/Images/home/Video.png); background-size: cover; color: #fff;">
        <div style="margin: 200px auto">
          <h1 class="fw-bold">Process behind the making</h1>
          <p class="fw-bold">See how our chefs only cooks the best momos</p>
          <form class="flex text-center" action="{% url 'servicepage' %}">
            <button style="background-color: #0C6967; color: white; border-radius: 35px;" class="btn px-4 py-3" type="submit"><i class="fa-solid fa-circle-play fa-lg" style="color: #fff;"></i> Watch the video </button>
          </form>
        </div>
        
      </div>
    </div>

    <div class="container-fluid w-75">
      <div class="row m-5">
        <div class="col text-center p-3">
          <img src="/static/Images/home/Quality.png" class="pb-4">
          <h3 class="fw-bold m-3">Quality Food</h3>
          <p>Only the best food with top quality products and ingredients</p>
        </div>
        <div class="col text-center p-3">
          <img src="/static/Images/home/party.png" class="pb-4">
          <h3 class="fw-bold m-3">Private Party</h3>
          <p>Get the best quality food for all your party and gatherings</p>
        </div>
        <div class="col text-center p-3">
          <img src="/static/Images/home/Chef.png" class="pb-4">
          <h3 class="fw-bold m-3">Catering</h3>
          <p>Get the best foor for any occasions and gatherings</p>
        </div>
      </div>

      <div class="row">
        <form class="flex text-center mb-3">
          <button style="background-color: #0C6967; color: white; border-radius: 35px;" class="btn px-4 py-3" type="submit">Explore Our Services</button>
        </form>
      </div>
    </div>
    

    <!-- contact section -->
    <div class="container">
      <div class="row text-center m-5">
        <h1 class="mt-5 fw-bold" style="color: #D95103;">Get In Touch</h1>
        <h5 class="fw-bold" style="color: #0C6967;">Our friendly team would love to hear from you</h5>
      </div>

      <div class="row text-center shadow p-3 mb-5 bg-body-tertiary rounded-4">
        <!-- location info -->
        <div class="col-sm-6 ">
          <div class="rounded-4 text-white text-start" style="background-color: #0C6967; height: 650px;">
            <div class="p-4">
              <h6> Our Address</h6>
              <p><i>New Baneswor, Kathmandu, Bagmati, Nepal</i></p>
            </div>
            <div class="p-4">
              <h6> Our Contacts</h6>
              <p><i>Mobile : 9805689789, 9841275897 <br> Landline : 01-4783971</i></p>
            </div>
            <div class="p-4">
              <h6> Our Service Time</h6>
              <p><i>MON-FRI  (10am - 8pm) <br> SAT-SUN  (Closed)</i></p>

            </div>
            <div class="p-4 my-5">
              <h6 class="p-2"><i>Get in touch in social medias</i></h6>
              <a href="" class="m-2"><i class="fa-brands fa-facebook fa-2xl" style="color: #f6f2f2;"></i></a>
              <a href="" class="m-2"><i class="fa-brands fa-tiktok fa-2xl" style="color: #faf3f3;"></i></a>
              <a href="" class="m-2"><i class="fa-brands fa-instagram fa-2xl" style="color: #fbf6f6;"></i></a>
            </div>

          </div>
        </div>
        
        <!-- contact form-->
        <div class="col-sm-6">
          <form class="text-start m-3" action="">
            <div class="row my-3">
              <div class="col">
                <label for="fname">First Name</label>
                <input type="text" id="fname" class="form-control form-control-lg" disabled>
              </div>
              <div class="col">
                <label for="lname">Last Name</label>
                <input type="text" id="lname" class="form-control form-control-lg" disabled>
              </div>
            </div>

            <div class="form-row my-2">
              <label for="mail">Email</label>
              <input type="email" class="form-control form-control-lg" id="mail" disabled>
            </div>

            <div class="form-row my-2">
              <label for="phone">Phone</label>
              <input type="phone" class="form-control form-control-lg" id="phone" maxlength="10" disabled>
            </div>

            <div class="form-row my-2">
              <label for="subject">Subject</label>
              <input type="text" class="form-control form-control-lg" id="subject" disabled>
            </div>

            <div class="form-row">
              <label for="message">Message</label>
              <textarea class="form-control" id="message" rows="7" disabled></textarea>
            </div>

            
            <button style="background-color: #D95103; color: white; border-radius: 30px;" class="btn px-4 py-2 m-2" type="submit">
              <a href="{% url 'contactpage' %}" class="text-light text-decoration-none">Contact Us</a>
            </button>
                      
          </form>
        </div>
      </div>
    </div>

    <!-- map section -->
    <div class="container-fluid rounded-4">
      <div class="row my-5">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14130.92459112809!2d85.32951860130738!3d27.694703218563447!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb199a06c2eaf9%3A0xc5670a9173e161de!2sNew%20Baneshwor%2C%20Kathmandu%2044600!5e0!3m2!1sen!2snp!4v1689046896262!5m2!1sen!2snp" style="border:0;" height="640px" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
        </iframe>
      </div>
    </div>


    <!-- footer section -->
    <footer class="text-center text-lg-start bg-light text-muted">
  
      <section>
        <div class="container text-center text-md-start mt-5">
          <!-- Grid row -->
          <div class="row mt-3">
            
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <a href="{% url 'homepage' %}">
                <img src="/static/Images/home/Logo.png" class="my-4">
              </a>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed rem ab repellendus quidem? Cupiditate sequi, quibusdam in voluptate rerum tenetur veniam aliquam</p>
            </div>
            
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <h6 class="text-uppercase fw-bold my-4" style="color: #0C6967;">Everest Momo</h6>
              <p><a href="{% url 'aboutpage' %}" class="text-reset">About Us</a></p>
              <p><a href="{% url 'menupage' %}" class="text-reset">Our Menu</a></p>
              <p><a href="{% url 'servicepage' %}" class="text-reset">Our Services</a></p>
              <p><a href="{% url 'contactpage' %}" class="text-reset">Contact Us</a></p>
            </div>
    
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <h6 class="text-uppercase fw-bold my-4" style="color: #0C6967;">Legals</h6>
              <p><a href="#!" class="text-reset">Terms & Conditions</a></p>
              <p><a href="#!" class="text-reset">Privacy Policy</a></p>
              <p><a href="#!" class="text-reset">Support</a></p>
            </div>
    
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <h6 class="text-uppercase fw-bold my-4" style="color: #0C6967;">Follow Us</h6>
              <a href="" class="btn btn-outline-secondary rounded-5 m-2 text-reset"><i class="fab fa-facebook-f"></i></a>
              <a href="" class="btn btn-outline-secondary rounded-5 m-2 text-reset"><i class="fab fa-tiktok"></i></a>
              <a href="" class="btn btn-outline-secondary rounded-5 m-2 text-reset"><i class="fab fa-instagram"></i></a>
              <a href="" class="btn btn-outline-secondary rounded-5 m-2 text-reset"><i class="fab fa-linkedin"></i></a>
              <a href="" class="btn btn-outline-secondary rounded-5 m-2 text-reset"><i class="fab fa-twitter"></i></a>
              <a href="" class="btn btn-outline-secondary rounded-5 m-2 text-reset"><i class="fab fa-youtube"></i></a>
            </div>
          </div>
        </div>
      </section>
      <hr>
      <div class="text-center p-4">
        <h6>Copyright ©️ 2023 Everest Momo Pvt Ltd. All Rights Reserved</h6>
      </div>
      
    </footer>


</body>
</html>
